/* ============= CSS général ================*/
* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
}

/* =========== Input Search =============*/

.searchContainer {
  width: 50%;
  height:40px;
  margin: auto;
  display: flex;
}

 input {
  width: 50vw;
  height: 30px;
  margin: auto;
}

.iconLoupe {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8ebef;
  height: 34px;
  width: 50px;
  margin: auto;
}

.iconLoupe i {
  width: 25px;
  height: 25px;
}

/*=========== Results ===========*/
#results {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin: 0.5em auto;
  justify-content: center;
  align-items: center;
  color: #000;
}

.boxImg {
  min-height: 278px;
}

.item {
  background-color: #fff;
  width: 185px;
  margin: 0.5em;
}

.itemInfos {
  min-height: 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.itemTitle {
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.2em;
}

.itemYear {
  font-family: 'Heebo', sans-serif;
  font-size: 1.2em;
}
